<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01.04</key>
	<dict>
		<key>line</key>
		<integer>1</integer>
		<key>text</key>
		<string>01.04 T &quot;CONTROL CALLING LUNAR MODULE. MANUAL CONTROL IS NECESSARY&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>01.04</string>
				<key>text</key>
				<string>01.04 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.04.01</string>
				<key>text</key>
				<string>T &quot;CONTROL CALLING LUNAR MODULE. MANUAL CONTROL IS NECESSARY&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>01.06</key>
	<dict>
		<key>line</key>
		<integer>2</integer>
		<key>text</key>
		<string>01.06 T &quot;YOU MAY RESET FUEL RATE K EACH 10 SECS TO 0 OR ANY VALUE&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>01.06</string>
				<key>text</key>
				<string>01.06 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.06.01</string>
				<key>text</key>
				<string>T &quot;YOU MAY RESET FUEL RATE K EACH 10 SECS TO 0 OR ANY VALUE&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>01.08</key>
	<dict>
		<key>line</key>
		<integer>3</integer>
		<key>text</key>
		<string>01.08 T &quot;BETWEEN 8 &amp; 200 LBS/SEC. YOU&apos;VE 16000 LBS FUEL. ESTIMATED&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>01.08</string>
				<key>text</key>
				<string>01.08 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.08.01</string>
				<key>text</key>
				<string>T &quot;BETWEEN 8 &amp; 200 LBS/SEC. YOU&apos;VE 16000 LBS FUEL. ESTIMATED&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>01.11</key>
	<dict>
		<key>line</key>
		<integer>4</integer>
		<key>text</key>
		<string>01.11 T &quot;FREE FALL IMPACT TIME-120 SECS. CAPSULE WEIGHT-32500 LBS&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>01.11</string>
				<key>text</key>
				<string>01.11 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.11.01</string>
				<key>text</key>
				<string>T &quot;FREE FALL IMPACT TIME-120 SECS. CAPSULE WEIGHT-32500 LBS&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>01.20</key>
	<dict>
		<key>line</key>
		<integer>5</integer>
		<key>text</key>
		<string>01.20 T &quot;FIRST RADAR CHECK COMING UP&quot;!!!;E</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>01.20</string>
				<key>text</key>
				<string>01.20 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.20.01</string>
				<key>text</key>
				<string>T &quot;FIRST RADAR CHECK COMING UP&quot;!!!;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.20.02</string>
				<key>text</key>
				<string>E</string>
			</dict>
		</array>
	</dict>
	<key>01.30</key>
	<dict>
		<key>line</key>
		<integer>6</integer>
		<key>text</key>
		<string>01.30 T &quot;COMMENCE LANDING PROCEDURE&quot;!&quot;TIME,SECS   ALTITUDE,&quot;</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>01.30</string>
				<key>text</key>
				<string>01.30 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.30.01</string>
				<key>text</key>
				<string>T &quot;COMMENCE LANDING PROCEDURE&quot;!&quot;TIME,SECS   ALTITUDE,&quot;</string>
			</dict>
		</array>
	</dict>
	<key>01.40</key>
	<dict>
		<key>line</key>
		<integer>7</integer>
		<key>text</key>
		<string>01.40 T &quot;MILES+FEET   VELOCITY,MPH   FUEL,LBS   FUEL RATE&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>01.40</string>
				<key>text</key>
				<string>01.40 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.40.01</string>
				<key>text</key>
				<string>T &quot;MILES+FEET   VELOCITY,MPH   FUEL,LBS   FUEL RATE&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>01.50</key>
	<dict>
		<key>line</key>
		<integer>8</integer>
		<key>text</key>
		<string>01.50 S A=120;S V=1;S M=32500;S N=16500;S G=.001;S Z=1.8;S L=0</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>01.50</string>
				<key>text</key>
				<string>01.50 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.50.01</string>
				<key>text</key>
				<string>S A=120;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.50.02</string>
				<key>text</key>
				<string>S V=1;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.50.03</string>
				<key>text</key>
				<string>S M=32500;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.50.04</string>
				<key>text</key>
				<string>S N=16500;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.50.05</string>
				<key>text</key>
				<string>S G=.001;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.50.06</string>
				<key>text</key>
				<string>S Z=1.8;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>01.50.07</string>
				<key>text</key>
				<string>S L=0</string>
			</dict>
		</array>
	</dict>
	<key>01.50.n</key>
	<dict>
		<key>line</key>
		<integer>9</integer>
		<key>text</key>
		<string></string>
	</dict>
	<key>02.10</key>
	<dict>
		<key>line</key>
		<integer>10</integer>
		<key>text</key>
		<string>02.10 T &quot;    &quot;,%3,L,&quot;           &quot;FITR(A),&quot;  &quot;%4,5280*(A-FITR(A))</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>02.10</string>
				<key>text</key>
				<string>02.10 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.10.01</string>
				<key>text</key>
				<string>T &quot;    &quot;,%3,L,&quot;           &quot;FITR(A),&quot;  &quot;%4,5280*(A-FITR(A))</string>
			</dict>
		</array>
	</dict>
	<key>02.20</key>
	<dict>
		<key>line</key>
		<integer>11</integer>
		<key>text</key>
		<string>02.20 T %6.02,&quot;       &quot;3600*V,&quot;    &quot;%6.01,M-N,&quot;      K=&quot;;A K;S T=10</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>02.20</string>
				<key>text</key>
				<string>02.20 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.20.01</string>
				<key>text</key>
				<string>T %6.02,&quot;       &quot;3600*V,&quot;    &quot;%6.01,M-N,&quot;      K=&quot;;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.20.02</string>
				<key>text</key>
				<string>A K;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.20.03</string>
				<key>text</key>
				<string>S T=10</string>
			</dict>
		</array>
	</dict>
	<key>02.70</key>
	<dict>
		<key>line</key>
		<integer>12</integer>
		<key>text</key>
		<string>02.70 T %7.02;I (200-K)2.72;I (8-K)3.1,3.1;I (K)2.72,3.1</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>02.70</string>
				<key>text</key>
				<string>02.70 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.01</string>
				<key>text</key>
				<string>T %7.02;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.02</string>
				<key>text</key>
				<string>I (200-K)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.03</string>
				<key>text</key>
				<string>2.72;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.04</string>
				<key>text</key>
				<string>I (8-K)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.05</string>
				<key>text</key>
				<string>3.1,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.06</string>
				<key>text</key>
				<string>3.1;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.07</string>
				<key>text</key>
				<string>I (K)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.08</string>
				<key>text</key>
				<string>2.72,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.70.09</string>
				<key>text</key>
				<string>3.1</string>
			</dict>
		</array>
	</dict>
	<key>02.72</key>
	<dict>
		<key>line</key>
		<integer>13</integer>
		<key>text</key>
		<string>02.72 T &quot;NOT POSSIBLE&quot;;F X=1,51;T &quot;.&quot;</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>02.72</string>
				<key>text</key>
				<string>02.72 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.72.01</string>
				<key>text</key>
				<string>T &quot;NOT POSSIBLE&quot;;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.72.02</string>
				<key>text</key>
				<string>F X=1,51;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.72.03</string>
				<key>text</key>
				<string>T &quot;.&quot;</string>
			</dict>
		</array>
	</dict>
	<key>02.73</key>
	<dict>
		<key>line</key>
		<integer>14</integer>
		<key>text</key>
		<string>02.73 T &quot;K=&quot;;A K;G 2.7</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>02.73</string>
				<key>text</key>
				<string>02.73 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.73.01</string>
				<key>text</key>
				<string>T &quot;K=&quot;;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.73.02</string>
				<key>text</key>
				<string>A K;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>02.73.03</string>
				<key>text</key>
				<string>G 2.7</string>
			</dict>
		</array>
	</dict>
	<key>02.73.n</key>
	<dict>
		<key>line</key>
		<integer>15</integer>
		<key>text</key>
		<string></string>
	</dict>
	<key>03.10</key>
	<dict>
		<key>line</key>
		<integer>16</integer>
		<key>text</key>
		<string>03.10 I (M-N-.001)4.1;I (T-.001)2.1;S S=T</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>03.10</string>
				<key>text</key>
				<string>03.10 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.10.01</string>
				<key>text</key>
				<string>I (M-N-.001)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.10.02</string>
				<key>text</key>
				<string>4.1;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.10.03</string>
				<key>text</key>
				<string>I (T-.001)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.10.04</string>
				<key>text</key>
				<string>2.1;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.10.05</string>
				<key>text</key>
				<string>S S=T</string>
			</dict>
		</array>
	</dict>
	<key>03.40</key>
	<dict>
		<key>line</key>
		<integer>17</integer>
		<key>text</key>
		<string>03.40 I (N+S*K-M)3.5,3.5;S S=(M-N)/K</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>03.40</string>
				<key>text</key>
				<string>03.40 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.40.01</string>
				<key>text</key>
				<string>I (N+S*K-M)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.40.02</string>
				<key>text</key>
				<string>3.5,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.40.03</string>
				<key>text</key>
				<string>3.5;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.40.04</string>
				<key>text</key>
				<string>S S=(M-N)/K</string>
			</dict>
		</array>
	</dict>
	<key>03.50</key>
	<dict>
		<key>line</key>
		<integer>18</integer>
		<key>text</key>
		<string>03.50 D 9;I (I)7.1,7.1;I (V)3.8,3.8;I (J)8.1</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>03.50</string>
				<key>text</key>
				<string>03.50 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.01</string>
				<key>text</key>
				<string>D 9;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.02</string>
				<key>text</key>
				<string>I (I)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.03</string>
				<key>text</key>
				<string>7.1,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.04</string>
				<key>text</key>
				<string>7.1;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.05</string>
				<key>text</key>
				<string>I (V)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.06</string>
				<key>text</key>
				<string>3.8,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.07</string>
				<key>text</key>
				<string>3.8;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.08</string>
				<key>text</key>
				<string>I (J)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.50.09</string>
				<key>text</key>
				<string>8.1</string>
			</dict>
		</array>
	</dict>
	<key>03.80</key>
	<dict>
		<key>line</key>
		<integer>19</integer>
		<key>text</key>
		<string>03.80 D 6;G 3.1</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>03.80</string>
				<key>text</key>
				<string>03.80 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.80.01</string>
				<key>text</key>
				<string>D 6;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>03.80.02</string>
				<key>text</key>
				<string>G 3.1</string>
			</dict>
		</array>
	</dict>
	<key>03.80.n</key>
	<dict>
		<key>line</key>
		<integer>20</integer>
		<key>text</key>
		<string></string>
	</dict>
	<key>04.10</key>
	<dict>
		<key>line</key>
		<integer>21</integer>
		<key>text</key>
		<string>04.10 T &quot;FUEL OUT AT&quot;,L,&quot; SECS&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>04.10</string>
				<key>text</key>
				<string>04.10 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>04.10.01</string>
				<key>text</key>
				<string>T &quot;FUEL OUT AT&quot;,L,&quot; SECS&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>04.40</key>
	<dict>
		<key>line</key>
		<integer>22</integer>
		<key>text</key>
		<string>04.40 S S=(FSQT(V*V+2*A*G)-V)/G;S V=V+G*S;S L=L+S</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>04.40</string>
				<key>text</key>
				<string>04.40 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>04.40.01</string>
				<key>text</key>
				<string>S S=(FSQT(V*V+2*A*G)-V)/G;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>04.40.02</string>
				<key>text</key>
				<string>S V=V+G*S;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>04.40.03</string>
				<key>text</key>
				<string>S L=L+S</string>
			</dict>
		</array>
	</dict>
	<key>04.40.n</key>
	<dict>
		<key>line</key>
		<integer>23</integer>
		<key>text</key>
		<string></string>
	</dict>
	<key>05.10</key>
	<dict>
		<key>line</key>
		<integer>24</integer>
		<key>text</key>
		<string>05.10 T &quot;ON THE MOON AT&quot;,L,&quot; SECS&quot;!;S W=3600*V</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.10</string>
				<key>text</key>
				<string>05.10 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.10.01</string>
				<key>text</key>
				<string>T &quot;ON THE MOON AT&quot;,L,&quot; SECS&quot;!;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.10.02</string>
				<key>text</key>
				<string>S W=3600*V</string>
			</dict>
		</array>
	</dict>
	<key>05.20</key>
	<dict>
		<key>line</key>
		<integer>24</integer>
		<key>text</key>
		<string>05.20 T &quot;IMPACT VELOCITY OF&quot;,W,&quot;M.P.H.&quot;!,&quot;FUEL LEFT:&quot;M-N,&quot; LBS&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.20</string>
				<key>text</key>
				<string>05.20 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.20.01</string>
				<key>text</key>
				<string>T &quot;IMPACT VELOCITY OF&quot;,W,&quot;M.P.H.&quot;!,&quot;FUEL LEFT:&quot;M-N,&quot; LBS&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>05.40</key>
	<dict>
		<key>line</key>
		<integer>25</integer>
		<key>text</key>
		<string>05.40 I (1-W)5.5,5.5;T &quot;PERFECT LANDING !-(LUCKY)&quot;!;G 5.9</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.40</string>
				<key>text</key>
				<string>05.40 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.40.01</string>
				<key>text</key>
				<string>I (1-W)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.40.02</string>
				<key>text</key>
				<string>5.5,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.40.03</string>
				<key>text</key>
				<string>5.5;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.40.04</string>
				<key>text</key>
				<string>T &quot;PERFECT LANDING !-(LUCKY)&quot;!;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.40.05</string>
				<key>text</key>
				<string>G 5.9</string>
			</dict>
		</array>
	</dict>
	<key>05.50</key>
	<dict>
		<key>line</key>
		<integer>26</integer>
		<key>text</key>
		<string>05.50 I (10-W)5.6,5.6;T &quot;GOOD LANDING-(COULD BE BETTER)&quot;!;G 5.90</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.50</string>
				<key>text</key>
				<string>05.50 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.50.01</string>
				<key>text</key>
				<string>I (10-W)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.50.02</string>
				<key>text</key>
				<string>5.6,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.50.03</string>
				<key>text</key>
				<string>5.6;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.50.04</string>
				<key>text</key>
				<string>T &quot;GOOD LANDING-(COULD BE BETTER)&quot;!;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.50.05</string>
				<key>text</key>
				<string>G 5.90</string>
			</dict>
		</array>
	</dict>
	<key>05.60</key>
	<dict>
		<key>line</key>
		<integer>27</integer>
		<key>text</key>
		<string>05.60 I (22-W)5.7,5.7;T &quot;CONGRATULATIONS ON A POOR LANDING&quot;!;G 5.9</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.60</string>
				<key>text</key>
				<string>05.60 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.60.01</string>
				<key>text</key>
				<string>I (22-W)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.60.02</string>
				<key>text</key>
				<string>5.7,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.60.03</string>
				<key>text</key>
				<string>5.7;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.60.04</string>
				<key>text</key>
				<string>T &quot;CONGRATULATIONS ON A POOR LANDING&quot;!;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.60.05</string>
				<key>text</key>
				<string>G 5.9</string>
			</dict>
		</array>
	</dict>
	<key>05.70</key>
	<dict>
		<key>line</key>
		<integer>28</integer>
		<key>text</key>
		<string>05.70 I (40-W)5.81,5.81;T &quot;CRAFT DAMAGE. GOOD LUCK&quot;!;G 5.9</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.70</string>
				<key>text</key>
				<string>05.70 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.70.01</string>
				<key>text</key>
				<string>I (40-W)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.70.02</string>
				<key>text</key>
				<string>5.81,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.70.03</string>
				<key>text</key>
				<string>5.81;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.70.04</string>
				<key>text</key>
				<string>T &quot;CRAFT DAMAGE. GOOD LUCK&quot;!;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.70.05</string>
				<key>text</key>
				<string>G 5.9</string>
			</dict>
		</array>
	</dict>
	<key>05.81</key>
	<dict>
		<key>line</key>
		<integer>29</integer>
		<key>text</key>
		<string>05.81 I (60-W)5.82,2.82;T &quot;CRASH LANDING-YOU&apos;VE 5 HRS OXYGEN&quot;;G 5.90</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.81</string>
				<key>text</key>
				<string>05.81 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.81.01</string>
				<key>text</key>
				<string>I (60-W)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.81.02</string>
				<key>text</key>
				<string>5.82,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.81.03</string>
				<key>text</key>
				<string>2.82;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.81.04</string>
				<key>text</key>
				<string>T &quot;CRASH LANDING-YOU&apos;VE 5 HRS OXYGEN&quot;;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.81.05</string>
				<key>text</key>
				<string>G 5.90</string>
			</dict>
		</array>
	</dict>
	<key>05.82</key>
	<dict>
		<key>line</key>
		<integer>30</integer>
		<key>text</key>
		<string>05.82 T &quot;SORRY,BUT THERE WERE NO SURVIVORS-YOU BLEW IT!&quot;!&quot;IN &quot;</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.82</string>
				<key>text</key>
				<string>05.82 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.82.01</string>
				<key>text</key>
				<string>T &quot;SORRY,BUT THERE WERE NO SURVIVORS-YOU BLEW IT!&quot;!&quot;IN &quot;</string>
			</dict>
		</array>
	</dict>
	<key>05.83</key>
	<dict>
		<key>line</key>
		<integer>31</integer>
		<key>text</key>
		<string>05.83 T &quot;FACT YOU BLASTED A NEW LUNAR CRATER&quot;,W*.277777,&quot;FT. DEEP.&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.83</string>
				<key>text</key>
				<string>05.83 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.83.01</string>
				<key>text</key>
				<string>T &quot;FACT YOU BLASTED A NEW LUNAR CRATER&quot;,W*.277777,&quot;FT. DEEP.&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>05.90</key>
	<dict>
		<key>line</key>
		<integer>32</integer>
		<key>text</key>
		<string>05.90 T !!!!&quot;TRY AGAIN?&quot;!</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.90</string>
				<key>text</key>
				<string>05.90 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.90.01</string>
				<key>text</key>
				<string>T !!!!&quot;TRY AGAIN?&quot;!</string>
			</dict>
		</array>
	</dict>
	<key>05.92</key>
	<dict>
		<key>line</key>
		<integer>33</integer>
		<key>text</key>
		<string>05.92 A &quot;(ANS. YES OR NO)&quot;P;I (P-0NO)5.94,5.98</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.92</string>
				<key>text</key>
				<string>05.92 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.92.01</string>
				<key>text</key>
				<string>A &quot;(ANS. YES OR NO)&quot;P;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.92.02</string>
				<key>text</key>
				<string>I (P-0NO)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.92.03</string>
				<key>text</key>
				<string>5.94,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.92.04</string>
				<key>text</key>
				<string>5.98</string>
			</dict>
		</array>
	</dict>
	<key>05.94</key>
	<dict>
		<key>line</key>
		<integer>34</integer>
		<key>text</key>
		<string>05.94 I (P-0YES)5.92,1.2,5.92</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.94</string>
				<key>text</key>
				<string>05.94 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.94.01</string>
				<key>text</key>
				<string>I (P-0YES)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.94.02</string>
				<key>text</key>
				<string>5.92,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.94.03</string>
				<key>text</key>
				<string>1.2,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.94.04</string>
				<key>text</key>
				<string>5.92</string>
			</dict>
		</array>
	</dict>
	<key>05.98</key>
	<dict>
		<key>line</key>
		<integer>35</integer>
		<key>text</key>
		<string>05.98 T &quot;CONTROL OUT&quot;!!!;Q</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>05.98</string>
				<key>text</key>
				<string>05.98 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.98.01</string>
				<key>text</key>
				<string>T &quot;CONTROL OUT&quot;!!!;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>05.98.01</string>
				<key>text</key>
				<string>Q</string>
			</dict>
		</array>
	</dict>
	<key>05.98.n</key>
	<dict>
		<key>line</key>
		<integer>36</integer>
		<key>text</key>
		<string></string>
	</dict>
	<key>06.10</key>
	<dict>
		<key>line</key>
		<integer>37</integer>
		<key>text</key>
		<string>06.10 S L=L+S;S T=T-S;S M=M-S*K;S A=I;S V=J</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>06.10</string>
				<key>text</key>
				<string>06.10 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>06.10.01</string>
				<key>text</key>
				<string>S L=L+S;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>06.10.02</string>
				<key>text</key>
				<string>;S T=T-S;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>06.10.03</string>
				<key>text</key>
				<string>S M=M-S*K;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>06.10.04</string>
				<key>text</key>
				<string>S A=I;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>06.10.05</string>
				<key>text</key>
				<string>S V=J</string>
			</dict>
		</array>
	</dict>
	<key>06.10.n</key>
	<dict>
		<key>line</key>
		<integer>38</integer>
		<key>text</key>
		<string></string>
	</dict>
	<key>07.10</key>
	<dict>
		<key>line</key>
		<integer>39</integer>
		<key>text</key>
		<string>07.10 I (S-.005)5.1;S S=2*A/(V+FSQT(V*V+2*A*(G-Z*K/M)))</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>07.10</string>
				<key>text</key>
				<string>07.10 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>07.10.01</string>
				<key>text</key>
				<string>I (S-.005)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>07.10.02</string>
				<key>text</key>
				<string>5.1;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>07.10.03</string>
				<key>text</key>
				<string>S S=2*A/(V+FSQT(V*V+2*A*(G-Z*K/M)))</string>
			</dict>
		</array>
	</dict>
	<key>07.30</key>
	<dict>
		<key>line</key>
		<integer>40</integer>
		<key>text</key>
		<string>07.30 D 9;D 6;G 7.1</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>07.30</string>
				<key>text</key>
				<string>07.30 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>07.30.01</string>
				<key>text</key>
				<string>D 9;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>07.30.02</string>
				<key>text</key>
				<string>D 6;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>07.30.03</string>
				<key>text</key>
				<string>G 7.1</string>
			</dict>
		</array>
	</dict>
	<key>07.30.n</key>
	<dict>
		<key>line</key>
		<integer>41</integer>
		<key>text</key>
		<string></string>
	</dict>
	<key>08.10</key>
	<dict>
		<key>line</key>
		<integer>42</integer>
		<key>text</key>
		<string>08.10 S W=(1-M*G/Z*K)/2;S S=M*V/(Z*K*(W+FSQT(W*W+V/Z)))+.05;D 9</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>08.10</string>
				<key>text</key>
				<string>08.10 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.10.01</string>
				<key>text</key>
				<string>S W=(1-M*G/Z*K)/2;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.10.02</string>
				<key>text</key>
				<string>S S=M*V/(Z*K*(W+FSQT(W*W+V/Z)))+.05;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.10.03</string>
				<key>text</key>
				<string>D 9</string>
			</dict>
		</array>
	</dict>
	<key>08.30</key>
	<dict>
		<key>line</key>
		<integer>43</integer>
		<key>text</key>
		<string>08.30 I (I)7.1,7.1;D 6;I (-J)3.1,3.1;I (V)3.1,3.1,8.1</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>08.30</string>
				<key>text</key>
				<string>08.30 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.01</string>
				<key>text</key>
				<string>I (I)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.02</string>
				<key>text</key>
				<string>7.1,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.03</string>
				<key>text</key>
				<string>7.1;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.04</string>
				<key>text</key>
				<string>D 6;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.05</string>
				<key>text</key>
				<string>I (-J)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.06</string>
				<key>text</key>
				<string>3.1,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.07</string>
				<key>text</key>
				<string>3.1;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.08</string>
				<key>text</key>
				<string>I (V)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.09</string>
				<key>text</key>
				<string>3.1,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.10</string>
				<key>text</key>
				<string>3.1,</string>
			</dict>
			<dict>
				<key>id</key>
				<string>08.30.11</string>
				<key>text</key>
				<string>8.1</string>
			</dict>
		</array>
	</dict>
	<key>08.30.n</key>
	<dict>
		<key>line</key>
		<integer>44</integer>
		<key>text</key>
		<string></string>
	</dict>
	<key>09.10</key>
	<dict>
		<key>line</key>
		<integer>45</integer>
		<key>text</key>
		<string>09.10 S Q=S*K/M;S J=V+G*S+Z*(-Q-Q^2/2-Q^3/3-Q^4/4-Q^5/5)</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>09.10</string>
				<key>text</key>
				<string>09.10 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>09.10.01</string>
				<key>text</key>
				<string>S Q=S*K/M;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>09.10.02</string>
				<key>text</key>
				<string>S J=V+G*S+Z*(-Q-Q^2/2-Q^3/3-Q^4/4-Q^5/5)</string>
			</dict>
		</array>
	</dict>
	<key>09.40</key>
	<dict>
		<key>line</key>
		<integer>46</integer>
		<key>text</key>
		<string>09.40 S I=A-G*S*S/2-V*S+Z*S*(Q/2+Q^2/6+Q^3/12+Q^4/20+Q^5/30)</string>
		<key>statements</key>
		<array>
			<dict>
				<key>id</key>
				<string>09.40</string>
				<key>text</key>
				<string>09.40 </string>
			</dict>
			<dict>
				<key>id</key>
				<string>09.40.01</string>
				<key>text</key>
				<string>S I=A-G*S*S/2-V*S+Z*S*(Q/2+Q^2/6+Q^3/12+Q^4/20+Q^5/30)</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
