<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frame</key>
	<dict>
		<key>origin</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>300</integer>
		</dict>
		<key>size</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>width</key>
			<integer>72</integer>
		</dict>
	</dict>
	<key>paths</key>
	<array>
		<array>
			<dict>
				<key>color</key>
				<dict>
					<key>r</key>
					<real>0.026</real>
					<key>g</key>
					<integer>1</integer>
					<key>b</key>
					<real>0.00121</real>
					<key>alpha</key>
					<integer>1</integer>
				</dict>
				<key>x</key>
				<integer>-6</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-14</integer>
				<key>y</key>
				<integer>-8</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-14</integer>
				<key>y</key>
				<integer>-20</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-6</integer>
				<key>y</key>
				<integer>-29</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>-29</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>14</integer>
				<key>y</key>
				<integer>-20</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>14</integer>
				<key>y</key>
				<integer>-8</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-6</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>-17</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-17</integer>
				<key>y</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-17</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>-17</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-32</integer>
				<key>y</key>
				<integer>24</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>32</integer>
				<key>y</key>
				<integer>24</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>24</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>24</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>-28</integer>
				<key>y</key>
				<integer>24</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-36</integer>
				<key>y</key>
				<integer>24</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>-17</integer>
				<key>y</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-28</integer>
				<key>y</key>
				<integer>18</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>18</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>-3</integer>
				<key>y</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>-7</integer>
				<key>y</key>
				<integer>21</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>7</integer>
				<key>y</key>
				<integer>21</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>16</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
