<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Labels</string>
	<key>labels</key>
	<dict>
		<key>Height</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>920</integer>
					<key>y</key>
					<integer>250</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>24</integer>
					<key>width</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> HEIGHT </string>
				</dict>
			</array>
		</dict>
		<key>VertDistance</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>920</integer>
					<key>y</key>
					<integer>226</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>24</integer>
					<key>width</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> ALTITUDE </string>
				</dict>
			</array>
		</dict>
		<key>Distance</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>920</integer>
					<key>y</key>
					<integer>202</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>24</integer>
					<key>width</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> DISTANCE </string>
				</dict>
			</array>
		</dict>
		<key>Fuel</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>310</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> FUEL LEFT</string>
				</dict>
			</array>
		</dict>
		<key>Weight</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>340</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> WEIGHT </string>
				</dict>
			</array>
		</dict>
		<key>Thrust</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>370</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> THRUST </string>
				</dict>
			</array>
		</dict>
		<key>Angle</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>400</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string>  ANGLE </string>
				</dict>
			</array>
		</dict>
		<key>VertVel</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>430</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> VER VEL</string>
				</dict>
			</array>
		</dict>
		<key>HorizVel</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>460</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string>  HOR VEL </string>
				</dict>
			</array>
		</dict>
		<key>VertAccel</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>490</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> VER ACC</string>
				</dict>
			</array>
		</dict>
		<key>HorizAccel</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>520</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> HOR ACC</string>
				</dict>
			</array>
		</dict>
		<key>Seconds</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>900</integer>
					<key>y</key>
					<integer>550</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<dict>
					<key>italics</key>
					<true/>
					<key>text</key>
					<string> SECONDS</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
