<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Game Messages</string>
	<key>messages</key>
	<dict>
		<key>Test</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>562</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>60</integer>
					<key>width</key>
					<integer>450</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>rect</key>
						<dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>60</integer>
								<key>width</key>
								<integer>450</integer>
							</dict>
							<key>origin</key>
							<dict>
								<key>x</key>
								<integer>0</integer>
								<key>y</key>
								<integer>0</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>BUT THE TERRAIN IS TOO ROUGH, AND YOU TIPPED OVER</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>break</key>
						<true/>
						<key>newline</key>
						<integer>2</integer>
						<key>text</key>
						<string>SORRY, BUT THERE WERE </string>
					</dict>
					<dict>
						<key>break</key>
						<true/>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>NO</string>
					</dict>
					<dict>
						<key>break</key>
						<true/>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string> SURVIVORS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>SplashScreen</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>500</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>200</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>3</integer>
						<key>text</key>
						<string>            R T - 1 1  L U N A R  L A N D E R</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>              -----------------------------</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>3</integer>
						<key>text</key>
						<string>    ALL INTERNAL NAVIGATIONAL SYSTEMS HAVE DIED ON YOU</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>       IT LOOKS AS THOUGH YOU&apos;RE GOING TO HAVE TO</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>             LAND THIS THING ON YOUR OWN</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>2</integer>
						<key>text</key>
						<string>       ***** GOOD BYE, GOOD LUCK, AND SORRY  *****</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>SplashScreenModern</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>400</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>300</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>3</integer>
						<key>text</key>
						<string>            R T - 1 1  L U N A R  L A N D E R</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>              -----------------------------</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>3</integer>
						<key>text</key>
						<string>    ALL INTERNAL NAVIGATIONAL SYSTEMS HAVE DIED ON YOU</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>       IT LOOKS AS THOUGH YOU&apos;RE GOING TO HAVE TO</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>       LAND THIS THING ON YOUR OWN BUT IF YOU WIMP</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>   OUT YOU CAN USE YOUR HANDY APPLE AUTOPILOT WE ADDED</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>2</integer>
						<key>text</key>
						<string>       ***** GOOD BYE, GOOD LUCK, AND SORRY  *****</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>BumpyLanding</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>562</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>450</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>BUT THE TERRAIN IS TOO ROUGH, AND YOU TIPPED OVER</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>SORRY, BUT THERE WERE </string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>NO</string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string> SURVIVORS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>CrippledLanding</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>600</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>THE LANDING WAS TOO FAST AND DAMAGE WAS DONE TO THE SHIP</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>DeadLanding</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>550</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>WELL, YOU CERTAINLY BLEW THAT ONE. THERE WERE NO SURVIVORS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>Fast</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>700</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>400</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>BETTER START SLOWING IT UP PRETTY SOON</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>FastSideways</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>562</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>BUT THE HORIZONTAL VELOCITY WAS TOO GREAT, AND YOU CRASHED ANYWAY</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>SORRY, BUT THERE WERE </string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>NO</string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string> SURVIVORS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>FuelLow</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>350</integer>
					<key>y</key>
					<integer>700</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>4</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>FUEL LOW</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>GoodLanding</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>600</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>300</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>CONGRATULATIONS ON A GOOD LANDING</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>GreatLanding</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>600</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>300</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>FANTASTIC, A PERFECT LANDING</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>HitCrashedLander</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>570</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>NICE WORK. YOU JUST CRASHED INTO A PREVIOUSLY CRASHED SHIP</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>SORRY, BUT THERE WERE </string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>NO</string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string> SURVIVORS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>HitLander</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>562</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>500</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>YOU JUST CRASHED ON TOP OF AN OLD LUNAR MODULE</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>SORRY, BUT THERE WERE </string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>NO</string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string> SURVIVORS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>HitMcdonalds</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>10</integer>
					<key>y</key>
					<integer>562</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>550</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>Well you&apos;ve just destroyed the only MacDonald&apos;s</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>on the moon. What a CLOD.</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>HitOldFlag</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>3</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>YOU HAVE JUST VAPORIZED A PREVIOUSLY PLANTED AMERICAN FLAG</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>HitRock</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>562</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>400</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>YOU JUST CRASHED INTO THAT ROCK</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>SORRY, BUT THERE WERE </string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>NO</string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string> SURVIVORS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>LeftEdge</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>600</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>300</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>BOY, ARE YOU</string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string> INEPT</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>Not2Fast</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>2</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>500</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>TAKE IT NICE AND EASY. A PERFECT LANDING IS UNDER 8 FPS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>OneSmallStep</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>2</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>25</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>THAT&apos;S ONE SMALL STEP FOR A MAN, ONE GIANT LEAP FOR MANKIND.</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>RightEdge</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>525</integer>
					<key>y</key>
					<integer>600</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>400</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>  YOU HAVE JUST CRASHED</string>
					</dict>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>INTO THE EDGE OF THE MOON</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>RoughLanding</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>600</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>300</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>THE LANDING WAS A LITTLE FAST</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>TippedOver</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>562</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>40</integer>
					<key>width</key>
					<integer>500</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>BUT THE ANGLE WAS TOO GREAT AND THE SHIP TIPPED OVER</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>newline</key>
						<integer>1</integer>
						<key>text</key>
						<string>SORRY, BUT THERE WERE </string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>NO</string>
					</dict>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string> SURVIVORS</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>TopEdge</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>650</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>600</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>SORRY, BUT WHEN YOU LOSE TV COVERAGE, YOU ALSO LOSE YOUR FUEL</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>VeryFast</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>2</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>300</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>7</integer>
						<key>blink</key>
						<true/>
						<key>text</key>
						<string>TOO FAST. YOU&apos;RE GOING TO CRASH</string>
					</dict>
				</array>
			</array>
		</dict>
		<key>YourOrder</key>
		<dict>
			<key>frame</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>150</integer>
					<key>y</key>
					<integer>2</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>20</integer>
					<key>width</key>
					<integer>500</integer>
				</dict>
			</dict>
			<key>text</key>
			<array>
				<array>
					<dict>
						<key>intensity</key>
						<integer>6</integer>
						<key>text</key>
						<string>TWO CHEESEBURGERS AND A BIG MAC TO GO.</string>
					</dict>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
