<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>messages</key>
	<dict>
		<key>LeftEdge</key>
		<dict>
			<key>text</key>
			<array>
				<dict>
					<key>mode</key>
					<integer>0</integer>
					<key>size</key>
					<integer>8</integer>
					<key>font</key>
					<string>Courier</string>
					<key>color</key>
					<dict>
						<key>alpha</key>
						<integer>1</integer>
						<key>b</key>
						<real>0.00121</real>
						<key>g</key>
						<integer>1</integer>
						<key>r</key>
						<real>0.026</real>
					</dict>
				</dict>
				<dict>
					<key>moveto</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>text</key>
					<string>BOY, ARE YOU</string>
				</dict>
				<dict>
					<key>text</key>
					<string> INEPT</string>
				</dict>
			</array>
			<key>frame</key>
			<dict>
				<key>size</key>
				<dict>
					<key>width</key>
					<integer>200</integer>
					<key>height</key>
					<integer>200</integer>
				</dict>
				<key>origin</key>
				<dict/>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>600</integer>
			</dict>
		</dict>
		<key>RightEdge</key>
		<dict>
			<key>text</key>
			<array>
				<dict>
					<key>mode</key>
					<integer>0</integer>
					<key>size</key>
					<integer>8</integer>
					<key>font</key>
					<string>Courier</string>
					<key>color</key>
					<dict>
						<key>alpha</key>
						<integer>1</integer>
						<key>b</key>
						<real>0.00121</real>
						<key>g</key>
						<integer>1</integer>
						<key>r</key>
						<real>0.026</real>
					</dict>
				</dict>
				<dict>
					<key>moveto</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>text</key>
					<string>  YOU HAVE JUST CRASHED</string>
				</dict>
				<dict>
					<key>moveto</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>30</integer>
					</dict>
					<key>text</key>
					<string>INTO THE EDGE OF THE MOON</string>
				</dict>
			</array>
			<key>frame</key>
			<dict>
				<key>size</key>
				<dict>
					<key>width</key>
					<integer>200</integer>
					<key>height</key>
					<integer>200</integer>
				</dict>
				<key>origin</key>
				<dict/>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>600</integer>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Game Messages</string>
</dict>
</plist>
