<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frame</key>
	<dict>
		<key>origin</key>
		<dict>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>475</integer>
		</dict>
		<key>size</key>
		<dict>
			<key>height</key>
			<integer>24</integer>
			<key>width</key>
			<integer>48</integer>
		</dict>
	</dict>
	<key>paths</key>
	<array>
		<array>
			<dict>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>b</key>
					<real>0.00121</real>
					<key>g</key>
					<integer>1</integer>
					<key>r</key>
					<real>0.026</real>
				</dict>
				<key>line</key>
				<dict>
					<key>width</key>
					<integer>2</integer>
				</dict>
				<key>moveto</key>
				<dict>
					<key>x</key>
					<integer>20</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>x</key>
				<integer>-20</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>moveto</key>
				<dict>
					<key>x</key>
					<integer>-20</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>x</key>
				<integer>-12</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>moveto</key>
				<dict>
					<key>x</key>
					<integer>-20</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>x</key>
				<integer>-12</integer>
				<key>y</key>
				<integer>-6</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
