<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>McDonalds</string>
	<key>paths</key>
	<array>
		<dict>
			<key>intensity</key>
			<integer>7</integer>
			<key>line</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>width</key>
				<real>1.5</real>
			</dict>
			<key>moveto</key>
			<dict>
				<key>x</key>
				<integer>95</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>name</key>
			<string>Building</string>
			<key>push</key>
			<dict>
				<key>gstate</key>
				<integer>0</integer>
				<key>position</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>moverel</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-30</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>-54</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>moverel</key>
			<dict>
				<key>name</key>
				<string>Door</string>
				<key>x</key>
				<integer>12</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>moverel</key>
			<dict>
				<key>x</key>
				<integer>-18</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>moverel</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>name</key>
			<string>Left Arch</string>
		</dict>
		<dict>
			<key>line</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>width</key>
				<integer>3</integer>
			</dict>
			<key>moverel</key>
			<dict>
				<key>x</key>
				<integer>-90</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>-2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-6</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>moverel</key>
			<dict>
				<key>x</key>
				<integer>-17</integer>
				<key>y</key>
				<integer>-3</integer>
			</dict>
		</dict>
		<dict>
			<key>moverel</key>
			<dict>
				<key>x</key>
				<integer>22</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>name</key>
			<string>Right Arch</string>
		</dict>
		<dict>
			<key>moverel</key>
			<dict>
				<key>x</key>
				<integer>-17</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>-2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-2</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-6</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>pop</key>
			<dict>
				<key>gstate</key>
				<integer>0</integer>
				<key>position</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
